.ajoute-projet-club {
    *
    {
        font-family: 'Comfortaa', cursive;
    }
    p {
        font-size: 1vh;
    }
    .formulaire
    {
        margin-left: 30%;
        margin-bottom: 10%;
    }
}




